
@{
    ViewBag.Title = "Login";
}

<h2>登陆</h2>
<form method="post" action="@Url.Action("PostLogin")">  
<table class="table-bordered">
    <tr>
        <td>UserName：</td>
        <td><input type="text" name="username" value="" /></td>
    </tr>
    <tr>
        <td>PassWord:</td>
        <td><input type="password"   name="password" value="" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit"  value="登陆" /></td>
    </tr>
    
</table>

</form>